body[theme="light"] {
  --color-text: #1e1e1e;
  --color-background-main: #f4f5f7;
  --color-background-theme: #e8f5e9;
  --color-title-2: #1b5e20;
  --color-title-3: #388e3c;
  --color-text-disabled: #9e9e9e;
  --color-card-shadow: #bdbdbd;
  --color-card-background: #ffffff;
  --color-card-border-white: #e0e0e0;
  --color-card-background-alert: #f8bbd0;
  --color-card-border-alert: #c48b9f;
  --color-card-background-memo: #fff9c4;
  --color-card-border-memo: #cbc693;
  --color-card-border-description: #b6c2b7;
  --color-card-contents-background: #ffffff;
  --color-card-contents-border: #e0e0e0;
  --color-menubar-background: #263238;
  --color-menubar-hover: #66bb6a;
  --color-table-grade-bar: #2e7d32;
  --color-table-border: #bcbcbc;
  --color-table-border-2: #bcbcbc;
  --color-unreadcount-background: #ef5350;
  --color-default-font: #000000;

  color: var(--color-text) !important;

  background: var(--color-background-main) !important;
}

body[theme="dark"] {
  --color-text: #e6e6e6;
  --color-background-main: #121212;
  --color-background-theme: #272727;
  --color-title-2: #dcedc8;
  --color-card-border-white: #212121;
  --color-title-3: #aed681;
  --color-text-disabled: #c1c1c1;
  --color-card-shadow: transparent;
  --color-card-background: #212121;
  --color-card-background-alert: #cf6679;
  --color-card-border-alert: #cf6679;
  --color-card-background-memo: #fff176;
  --color-card-border-memo: #fff176;
  --color-card-border-description: #272727;
  --color-card-contents-background: #2c2c2c;
  --color-card-contents-border: #2c2c2c;
  --color-menubar-background: #272727;
  --color-menubar-hover: #66bb6a;
  --color-table-grade-bar: #2e7d32;
  --color-table-border: #212121;
  --color-table-border-2: #212121;
  --color-unreadcount-background: #cf6679;
  --color-default-font: #ffffff;

  color: var(--color-text) !important;

  background: var(--color-background-main) !important;
}

header h1 {
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--color-title-2);
}

section {
  width: 60%;
  padding: 1.5rem;
  margin: 0 auto 32px;
  border-radius: 0.5rem;
  border-color: var(--color-card-border);
  background: var(--color-card-background);
  box-shadow: 2px 2px 4px var(--color-card-shadow);
}

body[theme="dark"] a {
  color: #baddf9 !important;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  overflow: hidden;
}

footer p {
  color: var(--color-text-disabled);
}

.switch-title {
  float: left;
  margin-top: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-title {
  font-size: 1.2rem;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 16px;
}

.title:first-letter {
  color: var(--color-title-3);
}

.text {
  font-size: 1.2rem;
}

.sub-title {
  font-weight: bold;
}

.fa-github {
  fill: var(--color-text);
  width: 1.2rem;
  margin-right: 8px;
  text-decoration: none;
}

.name {
  font-size: 1.2rem;
  margin-top: 4px;
}

li.name .fa-github {
  width: 1.5rem !important;
  text-decoration: none;
}

.fa-twitter {
  fill: #1da1f2;
  width: 1.5rem;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
}
