body {
    --color-background-main: #f4f5f7;
    --color-background-theme: #e8f5e9;
    --color-title-2: #1b5e20;
    --color-title-3: #388e3c;
    --color-text-disabled: #9e9e9e;
    --color-card-shadow: #bdbdbd;
    --color-card-background: #ffffff;
    --color-card-border-white: #e0e0e0;
    --color-card-background-alert: #f8bbd0;
    --color-card-border-alert: #c48b9f;
    --color-card-background-memo: #fff9c4;
    --color-card-border-memo: #cbc693;
    --color-menubar-background: #263238;
    --color-menubar-hover: #66bb6a;
    --color-table-grade-bar: #2e7d32;
    --color-table-border: #bcbcbc;
    --color-unreadcount-background: #ef5350;

    background: var(--color-background-main) !important;
}

/*
@media screen and (prefers-color-scheme: dark) {
    body {
        --color-background-main: #000a12;
        --color-background-theme: #445963;
        --color-title-2: #dcedc8;
        --color-title-3: #aed681;
        --color-text-disabled: #c1c1c1;
        --color-card-shadow: #000000;
        --color-card-background: #102027;
        --color-card-border-white: #445963;
        --color-card-background-alert: #ffebee;
        --color-card-border-alert: #ccb9bc;
        --color-card-background-memo: #fff9c4;
        --color-card-border-memo: #cccab5;
        --color-menubar-background: #102027;
        --color-menubar-hover: #66bb6a;
        --color-table-grade-bar: #2e7d32;
        --color-table-border: #000a12;
        --color-unreadcount-background: #ef5350;

        color: #f4f4f4 !important;

        background: var(--color-background-main) !important;
    }

    a {
        color: #baddf9 !important;
    }
}

 */

.pagebody, .home {
    width: 100% !important;
}

.my-course {
    width: 100% !important;
    margin: 0 auto !important;
}

.my-course::after {
    content: "";
    display: block;
    clear: both;
}

.pagebody {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.contentbody-left {
    width: 70% !important;
    padding: 0 !important;
}

.contentbody-right {
    width: 30% !important;
    padding: 0 !important;
}

.memo0 {
    padding: 12px !important;
    background: var(--color-card-background-memo) !important;
    border: var(--color-card-border-memo) solid 1px !important;
    box-shadow: 2px 2px 4px var(--color-card-shadow);
    margin: 16px !important;
}

.alertlist {
    padding: 12px !important;
    background: var(--color-card-background-alert) !important;
    border: var(--color-card-border-alert) solid 1px;
    box-shadow: 2px 2px 4px var(--color-card-shadow);
    margin: 0 16px 16px !important;
}

.alertlist a, .alertlist span.unread {
    color: white !important;
    font-weight: normal !important;
}

.alertlist div {
    margin: 0 20px 0 15px !important;
}

.my-infolist, .info-list-card, .info-list-cardl, .info-list-cardr, .top-contents-list, .groupnews-msg, .contentbody-l {
    padding: 12px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    background: var(--color-card-background) !important;
    margin-bottom: 16px !important;
    border: var(--color-card-border-white) solid 1px !important;
    box-shadow: 2px 2px 4px var(--color-card-shadow) !important;
}

.my-infolist-header, .info-list-card-header, .top-contents-list-header {
    background: transparent !important;
    padding: 0 !important;
}

.my-infolist-header h2, .info-list-card-header h2, .top-contents-list-header h2, .msg-body h2, .contentbody-l h1 {
    color: var(--color-title-2) !important;
    font-size: 1.8em !important;
    font-weight: normal !important;
    padding: 0 !important;
    padding-bottom: 12px !important;
}

.my-infolist-body, .info-list-card-body, .top-contents-list-body {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 12px !important;
    border: none !important;
}

.my-infolist-centernews, .my-infolist-mycourses {
    margin: 0 !important;
    margin-left: 16px !important;
    margin-right: 8px !important;
    margin-bottom: 16px !important;
}

div.news-title, .my-infolist-event td.event-title a {
    width: auto !important;
    overflow: unset !important;
    white-space: normal !important;
}

.my-infolist-event, .my-infolist-tips {
    width: calc(100% - 58px) !important;
    margin: 0 !important;
    margin-left: 8px !important;
    margin-right: 16px !important;
    margin-bottom: 16px !important;
}

.my-infolist-submitlog h3, .my-infolist-tips .tips-list h3, .contentbody-l h3 {
    background: none !important;
    color: var(--color-title-3) !important;
    font-weight: normal !important;
    padding: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.my-infolist-submitlog td.event-title a {
    width: 100% !important;
}

.my-infolist-event .showmore {
    border: none !important;
}

.my-infolist-tips .my-infolist-header {
    height: 0 !important;
    border: none !important;
}

.my-infolist-tips .my-infolist-body {
    margin-top: 0 !important;
}

tr.row0 {
    background: var(--color-card-background) !important;
}

table tr {
    border: none !important;
}

table tr:nth-child(even) {
    background: var(--color-background-theme) !important;
}

table tr:nth-child(odd) {
    background: var(--color-card-background) !important;
}

table.stdlist {
    width: 100% !important;
    border: none !important;
}

table.stdlist tr.title th {
    color: var(--color-title-3) !important;
    font-weight: normal; !important;
    background-color: var(--color-card-background) !important;
    border: none !important;
}

table.stdlist tr td, table.stdlist tr th {
    border-color: var(--color-table-border) !important;
    border-style: dotted !important;
    border-width: 1px !important;
    border-top: none !important;
    border-bottom: none !important;
}

ul.infolist-tab {
    margin: 0 !important;
    margin-top: -25px !important;
    border: none !important;
}

ul.infolist-tab a {
    margin: 5px !important;
    padding: 0 !important;
    border: none !important;
    text-align: center !important;
    color: var(--color-text-disabled) !important;
}

ul.infolist-tab li.current a {
    color: var(--color-title-2) !important;
    background: none !important;
}

#container {
    min-width: 300px !important;
}

/*
メインメニューバー下のヘッダ
 */
.pageheader-course {
    width: 100% !important;
    height: 104px !important;
    margin: 0 !important;
    background: transparent !important;
}

/*
コースタイトルのdiv
 */
.pageheader-course-coursename {
    width: 80% !important;
}

/*
コースタイトル
 */
#coursename {
    text-decoration: var(--color-title-2) !important;
    color: var(--color-title-2) !important;
    font-size: 1.2em !important;
    font-weight: normal !important;
}

#coursename:hover {
    text-decoration: underline !important;
}

/*
担当教員と開講時期のdiv
 */
.pageheader-course-courseteacher {
    display: flex !important;
    margin: 0 !important;
    left: 95px !important;
    top: 42px !important;
    width: auto !important;
}

/*
担当教員
 */
.course-courseteacher {
    width: auto !important;
}

.courseteacher-name {
    width: auto !important;
    margin-right: 32px !important;
}

.coursedata-info {
    width: auto !important;
    margin-right: 32px !important;
}

/*
movieリンク
 */
.pageheader-course-extlink {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    position: unset !important;
}

.pageheader-course-extlink-student {
    top: 0 !important
}

/*
コースタイトル下のメニューバー
 */
.course-menu {
    width: 100% !important;
    left: 0 !important;
    top: 74px !important;
    background: var(--color-menubar-background) !important;
    margin-bottom: 16px !important;
    box-shadow: 0 2px 4px var(--color-card-shadow);
}

.course-menu span {
    color: white !important;
}

.course-menu-query, .course-menu-survey, .course-menu-report, .course-menu-project, .course-menu-grade, .course-menu-bbs, .course-menu-coursecontents {
    width: 100px !important;
    height: 31px !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent !important;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    top: 0 !important;
    margin-bottom: 3px !important;
    cursor: pointer;
}

.course-menu-query:hover, .course-menu-survey:hover, .course-menu-report:hover, .course-menu-project:hover, .course-menu-grade:hover, .course-menu-bbs:hover, .course-menu-coursecontents:hover {
    border-bottom-color: var(--color-menubar-hover);
}

span.my-unreadcount {
    background-color: var(--color-unreadcount-background) !important;
    background-image: none !important;
    box-shadow: none !important;
    font-size: 13px !important;
    border: none !important;
}

/*
個別指導（コレクション）・提出記録
 */
.rightmostbutton {
    padding: 0 !important;
    margin: 0 16px 16px 0 !important;
}

/*
メインコンテンツdiv
 */
.content-body {
    padding: 0 !important;
    margin: 0 !important;
}

@media screen and (min-width: 1024px) {
    .content-body {
        margin: 0 20% !important;
    }
}

/*
現在、自己登録期間中...
 */
.description {
    box-sizing: border-box;
    padding: 12px !important;
    background: var(--color-background-theme) !important;
    border: #b6c2b7 solid 1px !important;
    border-radius: 0 !important;
    box-shadow: 2px 2px 4px var(--color-card-shadow);
    margin: 16px !important;
}

/*
コースニュース・スレッドdiv
 */
.info-list {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
    margin: 0 0 16px 0 !important;
}

.info-list-cardl, .info-list-cardr {
    box-sizing: border-box;
    width: 100% !important;
}

/*
コースニュース
 */
.info-list-cardl {
    margin: 0 8px 0 16px !important;
}

/*
スレッド
 */
.info-list-cardr {
    float: left !important;
    margin: 0 16px 0 8px !important;
}

/*
コースニュース・スレッドの表
 */
.groupnewslist, .groupthreadlist {
    height: auto !important;
}

.groupnewslist td, .groupnewslist th, .groupthreadlist td, .groupthreadlist th {
    border: none !important;
}

.groupnewslist td, .groupthreadlist td {
    padding: 0 !important;
}

.groupnewslist th, .groupthreadlist th {
    padding: 2px 0 2px 20px !important;
    width: 70% !important;
}

.groupnewslist, .groupthreadlist {
    padding: 0 !important;
}

.groupnewslist th a, .groupthreadlist th a {
    width: auto !important;
    white-space: normal !important;
    overflow: unset !important;
}

.no-info {
    height: auto !important;
}

/*
コンテンツ
 */
.top-contents-list {
    box-sizing: border-box !important;
    margin: 16px !important;
}

.top-contents-list-body {
    background: white !important;
    margin-top: 16px !important;
}

.top-contents-list-footer {
    background: white !important;
    height: auto !important;
}

/*
コンテンツの中身のカード
*/
.contents-card {
    margin-bottom: 16px !important;
    margin-right: 16px !important;
    border: var(--color-card-border-white) solid 1px !important;
    box-shadow: 2px 2px 6px var(--color-card-shadow) !important;
}

/*
（共通）カード右下の○○一覧
 */
.showmore {
    padding: 4px 0 0 !important;
}

.memobutton {
    padding-right: 16px !important;
}

/*
コースニュース
 */
.groupnews-msg {
    border-radius: 0 !important;
    width: 100% !important;
    margin: 0 auto 16px !important;
    background: var(--color-background-theme) !important;
}

.msg-body {
    padding: 16px !important;
    margin: 0 !important;
    border: none !important;
    background: var(--color-background-theme) !important;
}

.msg-title {
    padding: 0 !important;
    border-bottom: none !important;
}

.msg-title h2 {
    color: var(--color-title-2) !important;
    font-size: 1.3em !important;
    font-weight: normal !important;
    padding: 0 !important;
    padding-bottom: 12px !important;
    width: auto !important;
    float: unset !important;
}

span.msg-date {
    float: unset !important;
    width: auto !important;
    padding: 0 !important;
}

.msg-info {
    border-bottom: none !important;
}

span.msg-info-caption {
    background: transparent !important;
    color: var(--color-title-3) !important;
    padding: 0 !important;
    width: auto !important;
}

.msg-text {
    padding: 16px 0 0 !important;
}

/*
小テスト、アンケート、レポート、プロジェクト、成績など
 */
.contentbody-l {
    /* 本当はレスポンシブにしたいけどコースニュースが
    662pxで!importantを張っている**仕様なため、仕方なくそれに合わせた */
    width: 662px !important;
    padding: 16px !important;
    margin: 16px auto 16px !important;
}

.contentbody-l h1 {
    margin: 0 !important;
    border: none !important;
}

.contentbody-l .description {
    margin: 0 !important;
}

.contentbody-footer {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

table.stdlist-reportV2 tr.row1 {
    background-color: unset;
}

div.form {
    border: none !important;
    background-color: #f5f5f5 !important;

}

/*
お知らせ
 */
.tpanel_frame .msg {
    background-color: white !important;
    border-radius: unset !important;
    padding: 0 !important;
}

.msg-footer {
    display: none !important;
    height: 0 !important;
}

.tpanel_frame .msg-body {
    background-color: white !important;
}

/*
成績の表
 */
table.gradelist .grade {
    background-color: unset !important;
    color: var(--color-title-2) !important;
    font-weight: normal !important;
}

table.gradelist td.borderbottom {
    border-color: var(--color-table-border) !important;
    border-bottom: none !important;
}

/*
成績順位のバー
 */
table.gradelist td.gradebar {
    background: var(--color-table-grade-bar) !important;
    border: none !important;
}

/*
成績の公開日時
 */
div.dates {
    color: var(--color-text-disabled) !important;
}

/*
リマインダ
*/
td input[type="submit"] {
    margin-left: 16px !important;
}

.contentbody-l .navigator {
    font-size: 1.0em !important;
    background: var(color-card-background) !important;
    border-left: 1px solid #ccc !important;
    border-right: none !important;
    box-shadow: 2px 2px 4px #bdbdbd !important;
    padding-bottom: 5px !important;
    margin-top: 11px !important;
    margin-bottom: 11px !important;
}


form .description {
    box-sizing: border-box;
    background: var(--color-card-background) !important;
    padding: 12px !important;
    border: #b6c2b7 solid 1px !important;
    border-radius: 0 !important;
    box-shadow: 2px 2px 4px var(--color-card-shadow);
    margin: 16px !important;
}

@media screen and (max-width: 1100px) {
    form .description {
        width: calc(100%/1.2) !important;
        margin-left: 0% !important;
    }
    .contentbody-l .navigator {
        width: calc(100%/1.5) !important;
    }
}

/*
フッタ
*/
.pagefooter {
    background-color: white !important;
    background-position: center !important;
    box-shadow: 0 5px 2px -3px #dbdbdb inset;
    width: 100% !important;
    margin: 0 auto 0 !important;
}

.pagefooter #systemversion {
    left: calc((100% - 950px) / 2) !important;
}

.pagefooter .footer-manual-link {
    left: calc((100% - 950px) / 2 + 260px) !important;
}
