body {
    background: #F4F5F7 !important;
}

.pagebody, .home {
    width: 100% !important;
}

.my-course {
    width: 100% !important;
    margin: 0 auto !important;
}

.my-course::after {
    content: "";			/* 空のコンテンツを作成 */
    display: block;		/* 空のコンテンツをブロックボックスにする */
    clear: both;			/* 回り込みの解除 */
}

.pagebody {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.contentbody-left {
    width: 70% !important;
    padding: 0 !important;
}

.contentbody-right {
    width: 30% !important;
    padding: 0 !important;
}

.memo0 {
    padding: 12px !important;
    background: #fff9c4 !important;
    border: #cbc693 solid 1px !important;
    box-shadow: 2px 2px 4px #bdbdbd;
    margin: 16px !important;
}

.alertlist {
    padding: 12px !important;
    background: #f8bbd0 !important;
    border: #c48b9f solid 1px;
    box-shadow: 2px 2px 4px #bdbdbd;
    margin: 0 16px 16px !important;
}

.alertlist a, .alertlist span.unread {
    color: #ffffff !important;
    font-weight: normal !important;
}

.alertlist div {
    margin: 0px 20px 0px 15px !important;
}

.my-infolist {
    padding: 12px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    background: #ffffff !important;
    margin-bottom: 16px !important;
    border: #e0e0e0 solid 1px;
    box-shadow: 2px 2px 4px #bdbdbd;
}

.my-infolist-header {
    background: #ffffff !important;
    padding: 0 !important;
}

.my-infolist-header h2 {
    color: #1b5e20 !important;
    font-size: 1.8em !important;
    font-weight: normal !important;
    padding: 0 !important;
    padding-bottom: 12px !important;
}

.my-infolist-body {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 12px !important;
    border: none !important;
}

.my-infolist-centernews, .my-infolist-mycourses {
    margin: 0 !important;
    margin-left: 16px !important;
    margin-right: 8px !important;
    margin-bottom: 16px !important;
}

.my-infolist-event, .my-infolist-tips {
    width: calc(100% - 58px) !important;
    margin: 0 !important;
    margin-left: 8px !important;
    margin-right: 16px !important;
    margin-bottom: 16px !important;
}

.my-infolist-submitlog h3, .my-infolist-tips .tips-list h3 {
    background: none !important;
    color: #388e3c !important;
    font-weight: normal !important;
    padding: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.my-infolist-submitlog td.event-title a {
    width: 100% !important;
}

.my-infolist-event .showmore {
    border: none !important;
}

.my-infolist-tips .my-infolist-header {
    height: 0 !important;
    border: none !important;
}

.my-infolist-tips .my-infolist-body {
    margin-top: 0 !important;
}

table tr {
    border: none !important;
}

table td {
    background: #e8f5e9;
}

table tr:nth-child(odd) td {
    background: #fff;
}

table.stdlist {
    width: 100% !important;
    border: none !important;
}

table.stdlist tr.title th {
    color: #388e3c !important;
    font-weight: normal; !important;
    background-color: #ffffff !important;
    border: none !important;
}

table.stdlist tr td {
    border-color: #bcbcbc !important;
    border-style: dotted !important;
    border-top: none !important;
    border-bottom: none !important;
}

ul.infolist-tab {
    margin: 0 !important;
    margin-top: -25px !important;
    border: none !important;
}

ul.infolist-tab a {
    margin: 5px !important;
    padding: 0 !important;
    border: none !important;
    text-align: center !important;
    color: #9e9e9e !important;
}

ul.infolist-tab li.current a {
    color: #2e7d32 !important;
    background: none !important;
}