#mynavi {
    background: #263238 !important;
    height: 45px !important;
    margin-bottom: 16px !important;
    box-shadow: 0px 2px 4px;
    width: 100% !important;
}

#mynavi, #container, #header, #orgheader {
    width: 100% !important;
}

.mynavi-button-a {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff !important;
}

.mynavi-button-home, .mynavi-button-course, .mynavi-button-portfolio, .mylang-ja, .mylang-en, .memo-div, .respon-div {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 42px !important;
    width: 110px !important;
    background: transparent !important;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    top: -3px !important;
    margin-bottom: 3px !important;
    cursor: pointer;
}

.mynavi-button-home:hover, .mynavi-button-course:hover, .mynavi-button-portfolio:hover, .mylang-ja:hover, .mylang-en:hover, .memo-div:hover, .respon-div:hover {
    border-bottom-color: #66bb6a;
}

.mylang-ja, .mylang-en {
    width: 80px !important;
    right: 0px !important;
    top: 70px !important;
}

.memo-div, .respon-div {
    width: 80px !important;
}

.respon-div {
    position: absolute !important;
    right: 80px !important;
    top: 0 !important;
}

.respon-div img {
    width: 70px !important;
}

#header #mybutton-menu {
    right: 80px !important;
    top: 70px !important;
    display: flex;
}

.mylang-ja span, .mylang-en span, #header #mylang span, .memo-div span, .respon-div span {
    color: #ffffff !important;
    background: none !important;
    text-indent: unset !important;
    margin: 0 !important;
    padding: 0 !important;
}